<p style="color: green"><%= notice %></p>

<h1>Películas</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div id="movies">
        <% @movies.each do |movie| %>
        <div id="<%= dom_id movie %>" class="cardresultados" style="width: 18rem;">
          <p class="card-text">
            <strong>Título:</strong>
            <%= movie.title %>
          </p>
          <p class="card-text">
            <strong>Cliente:</strong>
            <%= movie.customer.name %>
          </p>
        </div>
        <p> <br>
          <%= link_to "Mostrar esta película", movie, class: "btn btn-primary"  %>
        </p>
        <% end %>
        <p>
          <%= link_to "Agregar nueva película", new_movie_path, class: "btn btn-success"  %>
        </p>
      </div>
    </div>

    <div class="col-8">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag '1.png', class:"d-block w-100", alt:"blockbuster" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'carri5.jpg', class:"d-block w-100", alt:"peliculas" %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>