<%= form_with(model: customer) do |form| %>
<% if customer.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(customer.errors.count, "error") %> Lo lamento, usted no puede ser registrado:</h2>

  <ul>
    <% customer.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div style="margin-bottom: 10px;">
  <%= form.label :name, "Nombre", style: "display: block; font-weight: bold;" %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<div style="margin-bottom: 10px;">
  <%= form.label :tin, "Rut (con puntos y guión)", style: "display: block; font-weight: bold;" %>
  <%= form.text_field :tin, class: "form-control" %>
</div>

<div>
  <%= form.label :email, "Correo", style: "display: block; font-weight: bold;" %>
  <%= form.text_field :email, class: "form-control" %>
</div>

<div style="margin-bottom: 10px;">
  <%= form.submit "Guardar", class: "btn btn-primary" %>
</div>
<% end %>