<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= customer.name %>
    
    <p>
    <% if customer.movies.present? %>
    <p> <b> La peli que tiene arrendada por <%= customer.name %>  es </b> </p>
    <% customer.movies.each do |movie| %>
      <%= movie.title %>
      <% end %>


  <% else %>
      <p> <b> No tiene pelicula arrendada </b> </p>
  <% end %>
</p>
    


      <%= link_to "Show this customer", customer %>
   
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>
