<p style="color: green"><%= notice %></p>

<%= render @customer %>

<% if @customer.movies.present? %>
<p> <b> La pelicula que tiene arrendada por <%= @customer.name %> es </b> </p>
<% @customer.movies.each do |movie| %>
<%= movie.title %>
<% end %>


<% else %>
<p> <b> No tiene pelicula arrendada </b> </p>
<% end %>

<div>
  <%= link_to "Editar este cliente", edit_customer_path(@customer) %> |
  <%= link_to "Volver a todos los clientes", customers_path %>

  <%= button_to "Eliminar este cliente", @customer, method: :delete %>
</div>