<div class="container1">
  <h1>Estrenos agregados recientemente</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'carru1.jpg', class:"d-block w-100", alt:"peliculas" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'carru2.jpg', class:"d-block w-100", alt:"series" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'carru3.jpg', class:"d-block w-100", alt:"documentales" %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'carru4.jpe', class:"d-block w-100", alt:"documentales" %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container mt-4">
        <div class="row">
          <div class="mb-4 col-lg-4 col-md-6 col-xs-12">
            <div class="card mx-auto" style="width: 18rem;">
              <%= image_tag 'c8.jpg', class: "card-img-top", style: "height: 300px;"  %>
              <div class="card-body">
                <h5 class="card-title">Harry Potter 7 parte 2</h5>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Ver más</a>
                <a href="#" class="card-link">Arrendar</a>
              </div>
            </div>
          </div>
          <div class="mb-4 col-lg-4 col-md-6 col-xs-12">
            <div class="card mx-auto" style="width: 18rem;">
              <%= image_tag 'c7.jpg', class: "card-img-top", style: "height: 300px;"  %>
              <div class="card-body">
                <h5 class="card-title">Harry Potter 7 parte 1</h5>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Ver más</a>
                <a href="#" class="card-link">Arrendar</a>
              </div>
            </div>
          </div>
          <div class="mb-4 col-lg-4 col-md-6 col-xs-12">
            <div class="card mx-auto" style="width: 18rem;">
              <%= image_tag 'c6.jpg', class: "card-img-top", style: "height: 300px;"  %>
              <div class="card-body">
                <h5 class="card-title">Transformers</h5>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Ver más</a>
                <a href="#" class="card-link">Arrendar</a>
              </div>
            </div>
          </div>
          <div class="mb-4 col-lg-4 col-md-6 col-xs-12">
            <div class="card mx-auto" style="width: 18rem;">
              <%= image_tag 'c5.jpg', class: "card-img-top", style: "height: 300px;"  %>
              <div class="card-body">
                <h5 class="card-title">Guardianes de la Galaxia</h5>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Ver más</a>
                <a href="#" class="card-link">Arrendar</a>
              </div>
            </div>
          </div>
          <div class="mb-4 col-lg-4 col-md-6 col-xs-12">
            <div class="card mx-auto" style="width: 18rem;">
              <%= image_tag 'c4.jpg', class: "card-img-top", style: "height: 300px;"  %>
              <div class="card-body">
                <h5 class="card-title">Rápido y Furioso X</h5>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Ver más</a>
                <a href="#" class="card-link">Arrendar</a>
              </div>
            </div>
          </div>
          <div class="mb-4 col-lg-4 col-md-6 col-xs-12">
            <div class="card mx-auto" style="width: 18rem;">
              <%= image_tag 'c3.jpg', class: "card-img-top", style: "height: 300px;"  %>
              <div class="card-body">
                <h5 class="card-title">La Sirenita</h5>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">Ver más</a>
                <a href="#" class="card-link">Arrendar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>